@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

[data-theme='1'] {
    --color: #000000;
    --background: #FFFFFF;
}

[data-theme='2'] {
    --color: #000000;
    --background: #DDEEFF;
}

[data-theme='3'] {
    --color: #FFFFFF;
    --background: #212A34;
}

html {
    background-color: var(--background);
    color: var(--color);
}

.select {
    border-style: solid;
    border-width: 1px;
    border-color: var(--color);
    border-radius: 2px;
    width: 171px;
    background-color: inherit;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    height: 36px;
    color: var(--color);
}

.select:focus {
    outline: none;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 70px;
    margin-bottom: 100px;
}

.span {
    margin-bottom: 6px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}
